# Virtual Environment
.venv/
venv/

# PyCharm
.idea/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Log Files
*.log

# Saved Models
models/*.pkl
models/*.joblib

# Generated processed datasets
data/processed/*.csv

# Keep generated-data directory
!data/processed/.gitkeep

# Generated preprocessing artifacts
models/*.joblib
results/*.txt